<html>
<head>
    <title>Download Documents</title>
</head>
<body>
    <div id="navigation" class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <ul class="top-level">
                <li><a ng-click="LoadDocument('Birth.pdf');">Birth Certificate</a></li>
                <li><a ng-click="LoadDocument('bsnltn.pdf');">BSNL New Landline</a></li>
                <li><a  ng-click="LoadDocument('casteandres.pdf');">Caste & Residence</a></li>
                <li><a  ng-click="LoadDocument('child-adoption.pdf')">Child Adoption</a></li>
                <li><a  ng-click="LoadDocument('Death.pdf')">Death Certificate</a></li>
                <li><a  ng-click="LoadDocument('deathmedical.pdf');">Death Medical Certif</a></li>
                <li><a  ng-click="LoadDocument('driving-licence.pdf');">Driving License</a></li>
                <li><a  ng-click="LoadDocument('income.pdf');">Income Certificate</a></li>
                <li><a  ng-click="LoadDocument('marriage.pdf');">Marriage Incentives</a></li>
                <li><a  ng-click="LoadDocument('medical.pdf');">Medical Certificate</a></li>
                <li><a  ng-click="LoadDocument('namechange.pdf');">Name Change Form</a></li>
                <li><a  ng-click="LoadDocument('oldage-home.pdf');">Old Age Home</a></li>
                <li><a  ng-click="LoadDocument('oldagepension.pdf');">Old Age Pension</a></li>
                <li><a  ng-click="LoadDocument('form60.pdf');">Form 60</a></li>
                <li><a  ng-click="LoadDocument('Rent-Agreement.pdf');">Rent Agreement</a></li>
                <li><a  ng-click="LoadDocument('study.pdf');">Study Certificate</a></li>
                <li><a  ng-click="LoadDocument('house-rent-receipt.pdf');">Rent Receipt</a></li>
                <li><a  ng-click="LoadDocument('new-voter.pdf');">Vote registration</a></li>
                <li><a  ng-click="LoadDocument('new-electrols.pdf');">Vote for Family</a></li>
                <li><a  ng-click="LoadDocument('wido-pension.pdf');">Wido Pension</a></li>
                <li><a  ng-click="LoadDocument('lalithakalathoranam.pdf');">Lalitha Kala Thoranam</a></li>
                <li><a  ng-click="LoadDocument('ravindrabharathi.pdf');">Ravindra Bharathi</a></li>
                <li><a  ng-click="LoadDocument('building-noc.pdf');">Building NOC</a></li>
                <li><a  ng-click="LoadDocument('bar-licence.pdf');">Bar Licence</a></li>
                <li><a></a></li>
            </ul>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-10 nopadding">
            <div id="objDoc" style="margin-top:.2%;border:1px solid #000;">
            </div>
        </div>
    </div>
</body>
</html>
