<!doctype html>
<html lang="en">
<head>
    <title>Places to visit</title>
	<meta name="keywords" content="kavali beach, thummalapenta-beach,pedda cheruvu,summer-storage tank, ramayapatnam, beach,astalakshmi-temple, rudrapadha-kshetram, ayyappa-temple, beach-resort,bitragunta, bilakoota-kshetram, udayagiri-fort, udayagiri, bhairavakona, kalugolamma,
	mundara-pottemma, alligunta, kavali-town, kavali-galelry, tourist-places">
	<meta name="description" content="Kavali beach has resort, parking and play area. Pedda cheruvu is beautiful place to spend some time. Udayagiri
	port, bhairavakona are splendid place to spend time. Ramayapatnam beach and port are near to kavali. Kalugolamma is kavali town divotee. boating is available in tummalapent beach and ramayapatnam beach.">
</head>
<body>
    <div id="places-info" class="jumbotron-text">
        <div class="place-desc">
            <b>Place:</b> <a name="kavali-beach"> Kavali Beach</a> <br />
            <b>Distance:</b> 7KM <br />
            <b>Rating:</b>  4.25 <br />
            <b>Time to Visit:</b> Jan - Oct
            <p>
                Kavali beach is a nice place to spend one day time. AP tourism (Haritha resort) resort is available.
				We can book cottages on 040-23450079. Tarrif is Rs.1000 + tax per day. Both North and South indian
				food is available. There are AC and Non-Ac cottages. Speed boat fecility yet to be launched. You can get private
				riding at nominal cost.
            </p>
        </div>
        <div id="kavalibeach" class="places">
            <ul>
                <li>
                    <img src="images/places/kavali-beach.jpg" alt="Kavali Beach" />
                </li>
                <li>
                    <img src="images/places/kavali-beach-resort.jpg" alt="Kavali Beach Resort" />
                </li>
                <li>
                    <img src="images/places/beach-restaurant.jpg" alt="Beach Restaurant" />
                </li>
                <li>
                    <img src="images/places/thummalapenta-beach.jpg" alt="Thummalapenta Beach" />
                </li>
                <li>
                    <img src="images/places/beach-view.jpg" alt="Beach View" />
                </li>
                <li>
                    <img src="images/places/beach-play-area.jpg" alt="Beach Play Area" />
                </li>
            </ul>
            <span class="prevButton" ng-click="LoadImage(this, 'kavalibeach');"></span>
            <span class="nextButton" ng-click="LoadImage(this,'kavalibeach');"></span>
        </div>

        <div class="place-desc">
            <b>Place:</b> <a name="kavali-tank"> Kavali Tank</a> <br />
            <b>Distance:</b> 2KM <br />
            <b>Rating:</b>  4 <br />
            <b>Time to Visit:</b> Sep - Feb
            <p>
                Kavali tank is a nice place to spend one day time. There are several temples around the tank. The area is fullly covered by
				green trees. Nature lovers can enjoy the place. There is a private swimming pool, 
            </p>
        </div>
        <div id="kavalitank" class="places">
            <ul>
                <li>
                    <img src="images/places/kavali-tank.jpg" alt="Kavali tank" />
                </li>
                <li>
                    <img src="images/places/kavali-tank1.jpg" alt="Green around kavali cheruvu" />
                </li>
                <li>
                    <img src="images/places/kavali-tank2.jpg" alt="pedda cheruvu" />
                </li>
                <li>
                    <img src="images/places/kavali-tank3.jpg" alt="Yoga narasimha swami temple at kavali tank." />
                </li>
                <li>
                    <img src="images/places/kavali-tank4.jpg" alt="Annadhana Prasadam House at kavali tank." />
                </li>
                <li>
                    <img src="images/places/kavali-tank5.jpg" alt="Beautiful path way to kavali tank." />
                </li>
            </ul>
            <span class="prevButton" ng-click="LoadImage(this, 'kavalitank');"></span>
            <span class="nextButton" ng-click="LoadImage(this, 'kavalitank');"></span>
        </div>

        <div class="place-desc">
            <b>Place:</b> <a name="astalakshmi-temple"> Asta Lakshmi Temple</a> <br />
            <b>Distance:</b> 4KM <br />
            <b>Rating:</b>  4 <br />
            <b>Time to Visit:</b> Jan - Dec
            <p>
                Kavali tank is a nice place to spend one day time.
            </p>
        </div>
        <div id="astalakshmi" class="places">
            <ul>
                <li>
                    <img src="images/places/astalakshmi.jpg" alt="Kavali tank" />
                </li>
                <li>
                    <img src="images/places/astalakshmi1.jpg" alt="Green around kavali cheruvu" />
                </li>
                <li>
                    <img src="images/places/astalakshmi2.jpg" alt="pedda cheruvu" />
                </li>
                <li>
                    <img src="images/places/astalakshmi3.jpg" alt="pedda cheruvu" />
                </li>
            </ul>
            <span class="prevButton" ng-click="LoadImage(this, 'astalakshmi');"></span>
            <span class="nextButton" ng-click="LoadImage(this, 'astalakshmi');"></span>
        </div>

        <div class="place-desc">
            <b>Place:</b> <a name="rudrapadha-kshetram">Rudrapadha Kshetram</a> <br />
            <b>Distance:</b> 1KM <br />
            <b>Rating:</b>  4 <br />
            <b>Time to Visit:</b> Jan - Dec
            <p>
                Kavali tank is a nice place to spend one day time.
            </p>
        </div>
        <div id="rudrapadha" class="places">
            <ul>
                <li>
                    <img src="images/places/sivalayam.jpg" alt="Kavali tank" />
                </li>
                <li>
                    <img src="images/places/sivalayam1.jpg" alt="Green around kavali cheruvu" />
                </li>
                <li>
                    <img src="images/places/sivalayam2.jpg" alt="pedda cheruvu" />
                </li>
                <li>
                    <img src="images/places/ayyappa-temple.jpg" alt="pedda cheruvu" />
                </li>
                <li>
                    <img src="images/places/saibaba.jpg" alt="pedda cheruvu" />
                </li>
            </ul>
            <span class="prevButton" ng-click="LoadImage(this, 'rudrapadha');"></span>
            <span class="nextButton" ng-click="LoadImage(this, 'rudrapadha');"></span>
        </div>
		
		<div class="place-desc">
            <b>Place:</b> <a name="kavali-kalugolamma">
                Kalugolamma Temple
            </a><br />
            <b>Distance:</b> 1KM <br />
            <b>Rating:</b>  3.20 <br />
            <b>Time to Visit:</b>
            <p>
                Kavali beach is a nice place to spend one day time.
            </p>
        </div>
        <div id="kalugolamma" class="places">
            <ul>
                <li>
                    <img src="images/places/Kalugolamma-Temple.jpg" alt="Kalugolamma Temple" />
                </li>
                <li>
                    <img src="images/places/kalugolamma2.jpg" alt="Kalugolamma" />
                </li>
                <li>
                    <img src="images/places/kalugolamma3.jpg" alt="Kalugolamma" />
                </li>
                <li>
                    <img src="images/places/kalugolamma4.jpg" alt="Kalugolamma" />
                </li>
                <li>
                    <img src="images/places/kalugolamma5.jpg" alt="Kalugolamma" />
                </li>
                <li>
                    <img src="images/places/kalugolamma6.jpg" alt="Kalugolamma temple history." />
                </li>
            </ul>
            <span class="prevButton" ng-click="LoadImage(this, 'kalugolamma');"></span>
            <span class="nextButton" ng-click="LoadImage(this, 'kalugolamma');"></span>
        </div>

        <div class="place-desc">
            <b>Place:</b> <a name="bitragunta-temple">
                Konda Bitragunta
            </a> <br />
            <b>Distance:</b> 12KM <br />
            <b>Rating:</b>  4.00 <br />
            <b>Time to Visit:</b>
            <p>
                Kavali beach is a nice place to spend one day time.
            </p>
        </div>
        <div id="bitragunta" class="places">
            <ul>
                <li>
                    <img src="images/places/bitragunta.jpg" alt="Prasanna Venkateswara swami Temple" />
                </li>
				<li>
                    <img src="images/places/bitragunta-hill.jpg" alt="Bitragunta Hill" />
                </li>
                <li>
                    <img src="images/places/bitragunta1.jpg" alt="Bitragunta Thirunala" />
                </li>
                <li>
                    <img src="images/places/bitragunta2.jpg" alt="Venkateswara Kalyanam" />
                </li>
            </ul>
            <span class="prevButton" ng-click="LoadImage(this, 'bitragunta');"></span>
            <span class="nextButton" ng-click="LoadImage(this, 'bitragunta');"></span>
        </div>        

        <div class="place-desc">
            <b>Place:</b> <a name="vengala-park">
                Vanteru Varadha Reddy Park, Vengalarao Nagar
            </a><br />
            <b>Distance:</b> 4KM <br />
            <b>Rating:</b>  3 <br />
            <b>Time to Visit:</b> Jan - Dec (Morning and Evening)
            <p>
                Kavali beach is a nice place to spend one day time.
            </p>
        </div>
        <div id="vengalapark" class="places">
            <ul>
                <li>
                    <img src="images/places/vengalarao-nagar-park.jpg" alt="Kalugolamma Temple" />
                </li>
                <li>
                    <img src="images/places/vengalarao-nagar-park1.jpg" alt="Kalugolamma" />
                </li>
                <li>
                    <img src="images/places/vengalarao-nagar-park2.jpg" alt="Kalugolamma" />
                </li>
                <li>
                    <img src="images/places/vengalarao-nagar-park3.jpg" alt="Kalugolamma" />
                </li>
            </ul>
            <span class="prevButton" ng-click="LoadImage(this, 'vengalapark');"></span>
            <span class="nextButton" ng-click="LoadImage(this, 'vengalapark');"></span>
        </div>

        <div class="place-desc">
            <b>Place</b>: <a name="summer-storage">
                Summer Storage Tank
            </a><br />
            <b>Distance</b>: 2KM <br />
            <b>Rating</b>:  3.00 <br />
            <b>Best Time</b>: Sep - Feb<br /><br />
            <p>
                The temple structure and style like look like Hampi temple. The famour Udayagiri fort of the Gajapathi, Vijayanagara kings lies a few kilometers from the temple.
                The temple was probably built during thier reign. Still there are some rock edicts with ancient telugu script.
            </p>
        </div>
        <div id="summerstorage" class="places">
            <ul>
                <li>
                    <img src="images/places/summerstorage.jpg" alt="Summer Storage Tank" />
                </li>
                <li>
                    <img src="images/places/summerstorage1.jpg" alt="Summer Storage Tank" />
                </li>
                <li>
                    <img src="images/places/summerstorage2.jpg" alt="Summer Storage Tank" />
                </li>
            </ul>
            <span class="prevButton" ng-click="LoadImage(this, 'summerstorage');"></span>
            <span class="nextButton" ng-click="LoadImage(this, 'summerstorage');"></span>
        </div>

        <div class="place-desc">
            <b>Place</b>: <a name="mundara-pottemma">
                Mundara Pottemma
            </a> <br />
            <b>Distance</b>: 10KM <br />
            <b>Rating</b>:  3.20 <br />
            <b>Best Time</b>: Sep - Feb
            <p>
                It is located outer part of Mamilldoruvu village. Very nice place, pollution free and full greenary. This temple has 500 years history.
            </p>
        </div>
        <div id="mundarapottemma" class="places">
            <ul>
                <li>
                    <img src="images/places/mundara-pottemma.jpg" alt="Mundara Pottemma Temple" />
                </li>
				<li>
                    <img src="images/places/mundara-pottemma1.jpg" alt="Mundara Pottemma Temple" />
                </li>
				<li>
                    <img src="images/places/mundara-pottemma2.jpg" alt="Mundara Pottemma Temple" />
                </li>
				<li>
                    <img src="images/places/mundara-pottemma3.jpg" alt="Mundara Pottemma Temple" />
                </li>
				<li>
                    <img src="images/places/mundara-pottemma4.jpg" alt="Mundara Pottemma Temple" />
                </li>
				<li>
                    <img src="images/places/mundara-pottemma5.jpg" alt="Lotus and Lilly Pond" />
                </li>
            </ul>
			<span class="prevButton" ng-click="LoadImage(this, 'mundarapottemma');"></span>
            <span class="nextButton" ng-click="LoadImage(this, 'mundarapottemma');"></span>
        </div>

        <div class="place-desc">
            <b>Place</b>: <a name="lighthouse">
                Ramayapatnam Beach
            </a><br />
            <b>Distance</b>: 14 KM <br />
            <b>Rating</b>:  4.00 <br />
            <b>Best Time</b>: Sep - Feb<br /><br />
            <p>
                The temple structure and style like look like Hampi temple. The famour Udayagiri fort of the Gajapathi, Vijayanagara kings lies a few kilometers from the temple.
                The temple was probably built during thier reign. Still there are some rock edicts with ancient telugu script.
            </p>
        </div>
        <div id="ramayapatnam" class="places">
            <ul>
                <li>
                    <img src="images/places/ramayapatnam-lighthouse.jpg" alt="Ramayapatnam Lighthouse" />
                </li>
                <li>
                    <img src="images/places/ramayaptnam-church.jpg" alt="Ramayapatnam Church" />
                </li>
                <li>
                    <img src="images/places/ramayapatnam-beach.jpg" alt="Ramayapatnam Beach Resort" />
                </li>
            </ul>
            <span class="prevButton" ng-click="LoadImage(this, 'ramayapatnam');"></span>
            <span class="nextButton" ng-click="LoadImage(this, 'ramayapatnam');"></span>
        </div>
		
		<div class="place-desc">
            <b>Place</b>: <a name="tettu-dargha">
                Tettu Dargha (Sayed Sultan BiBi)
            </a><br />
            <b>Distance</b>: 14 KM <br />
            <b>Rating</b>:  3.5 <br />
            <b>Best Time</b>: Sep - Feb<br /><br />
            <p>
                The temple structure and style like look like Hampi temple. The famour Udayagiri fort of the Gajapathi, Vijayanagara kings lies a few kilometers from the temple.
                The temple was probably built during thier reign. Still there are some rock edicts with ancient telugu script.
            </p>
        </div>
        <div id="tettu" class="places">
            <ul>
                <li>
                    <img src="images/places/Tettu-Dargh.jpg" alt="Tettu Dargha" />
                </li>
                <li>
                    <img src="images/places/Tettu-Dargh1.jpg" alt="Tettu Dargha" />
                </li>
                <li>
                    <img src="images/places/Tettu-Dargh2.jpg" alt="Tettu Dargha" />
                </li>
            </ul>
            <span class="prevButton" ng-click="LoadImage(this, 'tettu');"></span>
            <span class="nextButton" ng-click="LoadImage(this, 'tettu');"></span>
        </div>

        <div class="place-desc">
            <b>Place</b>: <a name="udayagiri-fort">
                Udayagiri
            </a><br />
            <b>Distance</b>: 80KM <br />
            <b>Rating</b>:  4.00 <br />
            <b>Best Time</b>: Sep - Feb<br /><br />
            <p>
                Udayagiri fort built by Vijayanagara kings in the 14th century. A towering peak reaching a height of 994m (3,261 ft) can be seen here. Some people will call this
                hill as Sanjiva hill because a wide variery of madicinal herbs grow on it. The fort is located on the hill and 3 are below. It covers total 7km area.
                It was the stronghold of the Gajapathis of Orissa till Krishna devaraya annexed it. During gajapathis and Vinjayangara rulers, the town grew to great splendor.
                The ruins of 365 Temples found in the town reflected the sculpture and architecture of various periods.
            </p>
            <p>
                The temple structure and style like look like Hampi temple. The famour Udayagiri fort of the Gajapathi, Vijayanagara kings lies a few kilometers from the temple.
                The temple was probably built during thier reign. Still there are some rock edicts with ancient telugu script.
            </p>
        </div>
        <div id="udayagiri" class="places">
            <ul>
                <li>
                    <img src="images/places/Udaygiri-fort.jpg" alt="Udayagiri Fort" />
                </li>
                <li>
                    <a name="udayagiri-fort"><img src="images/places/Udayagiri-temple.jpg" alt="Udayagiri Ranganatha Swamy Temple" /></a>
                </li>
                <li>
                    <img src="images/places/udayagiri.jpg" alt="Udayagiri Temple" />
                </li>
                <li>
                    <img src="images/places/Udayagiri-mandapam.jpg" alt="Udayagiri Mandapam" />
                </li>
            </ul>
            <span class="prevButton" ng-click="LoadImage(this, 'udayagiri');"></span>
            <span class="nextButton" ng-click="LoadImage(this, 'udayagiri');"></span>
        </div>

        <div class="place-desc">
            <b>Place</b>: <a name="bhiravakona">Bhairava Kona </a><br />
            <b>Distance</b>: 90KM <br />
            <b>Rating</b>:  4.00 <br />
            <b>Best Time</b>: Sep - Feb<br /><br />
            <p>
                This piligrim centre is located in Ambavaram Kothapalli village, CS purma mandal of Prakasam district. It is located border of Nellore, Kadapa and Prakasam districts.
                Thousands of people from the three districts visit the place to witness the spectacle and also take a bathe in the waterfall and worship lord Shiva and his consort on
                the auspicious day.
            </p>
            <p>
                Historians and Archaeologists have researched and concluded that this temple dates back to the period between 7th and 8th century A.D. The rock cut  cave temples are somewhat semilar
                to the one at Mahabhalipuram, not surprising because the cave temples at Bhairavakona were built around the 7th century A.D probably by Vishnukundina kings, in the time period as the
                Pallava kings of Mahabalipuram. There are 8 shrines for Lord Shiva in 8 different forms. The sculpture also reminds you the sculpture at Mahabalipuram.
            </p>
            <p>
                Bhairava kona draws thousands of people from far and near for a bath on the occasion of Karthika pournami and Sivarathri. An interesting feature that attracts devotees
                to Bhairavakona is that moonlight falls on the idol of goddess Durgadevi on the day of Karthika pournami. Breathtaking scenary all around
                , the jaw dropping waterfalls, chirping of the birds and the wildlife all around all add the glory of this place.
            </p>
        </div>
        <div id="Bhairavakona" class="places">
            <ul>
                <li>
                    <img src="images/places/bhairavakona.jpg" alt="Bhairavakona" />
                </li>
                <li>
                    <img src="images/places/bhairavakona1.jpg" alt="Bhairavakona" />
                </li>
                <li>
                    <img src="images/places/sonavaana-waterfall.jpg" alt="Sonavana Waterfall" />
                </li>
            </ul>
            <span class="button prevButton" ng-click="LoadImage(this, 'Bhairavakona');"></span>
            <span class="button nextButton" ng-click="LoadImage(this, 'Bhairavakona');"></span>
        </div>
    </div>
</body>
</html>
